@{
    ViewBag.Title = "Big Boi Burgers";
}

<body class="background-image">

<h2 style="margin-bottom: 20px; text-align: center; font-size: 60px; color:black; font-weight: bold;">Select a Burger</h2>

@using (Html.BeginForm("Index", "Burger", FormMethod.Post))
{
    <div style="display: flex; justify-content: space-around;">
        <div style="text-align: center;">


            <a href ="@Url.Action("Index", "Burger", new { burgerType = "Chicken"})">
                <img src="@Url.Content("~/Burger/Chicken_Burger.jpg")" alt="Chicken Burger Image" width="400" />
            </a>           
            <br />
            <a href="@Url.Action("Index", "Burger", new { burgerType = "Chicken" })" style="font-size: 25px; font-weight: bold; outline-color: black; color: white;">Chicken Burger</a>
            <p>
                Price: R32
            </p>

        </div>
        <div style="text-align: center;">


            <a href ="@Url.Action("Index", "Burger", new { burgerType = "Cheese"})">
                <img src="@Url.Content("~/Burger/Cheese_Burger.jpg")" alt="Cheese Burger Image" width="400" />
            </a>           
            <br />
                <a href="@Url.Action("Index", "Burger", new { burgerType = "Cheese" })" style="font-size: 25px; font-weight: bold; outline-color: black; color: white;">Cheese Burger</a>
            <p>
                Price: R55
            </p>
        
        
        </div>
        <div style="text-align: center;">


            <a href ="@Url.Action("Index", "Burger", new { burgerType = "Plain"})">
                <img src="@Url.Content("~/Burger/Plain_Burger.jpg")" alt="Plain Burger Image" width="400" />
            </a>           
            <br />
                <a href="@Url.Action("Index", "Burger", new { burgerType = "Plain" })" style="font-size: 25px; font-weight: bold; outline-color: black; color: white;">Plain Burger</a>
            <p>
                Price: R69
            </p>
        
        </div>

    </div>
    <br />
    <div style="display: flex; justify-content: space-around;">

        <div style="text-align: center;">


            <a href ="@Url.Action("Index", "Burger", new { burgerType = "Veggie"})">
                <img src="@Url.Content("~/Burger/Veggi_Burger.jpg")" alt="Plain Burger Image" width="400" />
            </a>           
            <br />
                <a href="@Url.Action("Index", "Burger", new { burgerType = "Veggie" })" style="font-size: 25px; font-weight: bold; outline-color: black; color: white;">Veggie Burger</a>
            <p>
                Price: R45
            </p>
        
        </div>


         <div style="text-align: center;">


            <a href ="@Url.Action("Index", "Burger", new { burgerType = "Lowcarb"})">
                <img src="@Url.Content("~/Burger/LowCarb_Burger.jpg")" alt="Plain Burger Image" width="400" />
            </a>           
            <br />
                <a href="@Url.Action("Index", "Burger", new { burgerType = "Lowcarb" })" style="font-size: 25px; font-weight: bold; outline-color: black; color: white;">Low-Carb Burger</a>
            <p>
                Price: Free (No one wants them anyway)
            </p>
        
        </div>


        <div style="text-align: center;">


            <a href ="@Url.Action("Index", "Burger", new { burgerType = "Fish"})">
                <img src="@Url.Content("~/Burger/Fish_Burger.jpg")" alt="Plain Burger Image" width="400" />
            </a>           
            <br />
                <a href="@Url.Action("Index", "Burger", new { burgerType = "Fish" })" style="font-size: 25px; font-weight: bold; outline-color: black; color: white;">Fish Burger</a>
       <p>Price: R22</p>
        
        </div>
        </div>
}

</body>
