@model BurgerRestaurant_ICETASK.Models.BurgerList

<h2>Cart</h2>

@if (Model.Burgers != null)
{
    <table class="table">

            <tr>
               <th></th>
                <th>Burger</th>
                <th>Price</th>
            </tr>
            @foreach (var burger in Model.Burgers)
            {
                <tr>
                    <td>  <img src = "@burger.getImage()" width="150" height="100"></td>
                    <td>@burger.BurgerType Burger</td>
                    <td>@burger.getPrice()</td>
                    <td>
                        <form asp-action="DeleteFromCart" method="post">
                        <input type="hidden" name="burgerType" value="@burger.BurgerType" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
            <tr>
            <td></td>
            <td style="color: red; font-weight: bold">Total</td>
            <td style="color: red; font-weight: bold">@Model.Burgers.Sum(b => b.getPrice())</td>
        </tr>
    </table>
}