@model BurgerRestaurant_ICETASK.Models.IBurger

<body class="BackgroundImage-Details">

<h2 style="text-align:center">Burger Details</h2>

@if (Model != null)
{
    <div style="display: flex; justify-content: space-around;">
        <div class="OutlinePriceText" style="text-align:left">
            <img src="@Model.getImage()" width="400"/>
            <p><strong>Bun:</strong> @Model.getBun()</p>
            <p><strong>Patty:</strong> @Model.getPatty()</p>
            <p><strong>Condiments:</strong> @Model.getCondiments()</p>
            <p><strong>Price:</strong> @Model.getPrice()</p>
            <form method="post" asp-action="AddToCart" asp-route-burgerType="@Model.BurgerType">
                <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
        </div>
    </div>
}
else
{
    <p>Burger details not available :(</p>
}

</body>
